@using DaisyStudy.ViewModels.Common;
@model PagedResult<DaisyStudy.ViewModels.Catalog.Chats.ChatViewModel>

@{
    ViewData["Title"] = "Danh sách trò chuyện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách trò chuyện</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/Chat">Trò chuyện</a></li>
        <li class="breadcrumb-item active">Danh sách trò chuyện</li>
    </ol>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách trò chuyện</h6>
        </div>
        <div class="card-header">
            <div style="padding: 0;" class="col-md-6 col-xs-12">
                <a class="btn btn-success" asp-action="Create" asp-controller="Chat">Tạo mới</a>
            </div>
        </div>

        <div class="card-body" style="padding-top: 0;">
            <div class="table-responsive">
                <form asp-action="Index" method="get">
                    <div class="col-sm-12 col-md-6 my-3">
                        <div class="row">
                            @if (ViewBag.SuccessMsg != null)
                            {
                                <div id="msgAlert" class="alert alert-success" role="alert">
                                    @ViewBag.SuccessMsg
                                </div>
                            }
                        </div>
                        <div class="dataTables_filter">
                            <div class="input-group">
                                <input value="@ViewBag.Keyword" name="keyword" type="search"
                                    class="form-control bg-light border-0 small" placeholder="Tìm kiếm..."
                                    aria-controls="dataTable">
                                <div class="input-group-append">
                                    <a href="/Class" class="btn btn-secondary" type="submit">
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </a>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Mã lớp
                            </th>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                Ngày tạo
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Items != null)
                        {
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClassID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTimeCreated)
                                    </td>
                                    <td>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Details", "Chat", new { id = item.ChatID })">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Edit", "Chat", new { id = item.ChatID })">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Delete", "Chat", new { id = item.ChatID })">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>