@model DaisyStudy.ViewModels.Catalog.Classes.ClassViewModel;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    ViewData["Title"] = @Html.DisplayFor(model => model.ClassName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        watchSlidesProgress: true,
        slidesPerView: 3,
    });
</script>
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/Class">Lớp học</a></li>
        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.ClassName)</li>
    </ol>
    <h1 class="mt-4">@Html.DisplayFor(model => model.ClassName)</h1>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">

            @foreach (var item in Model.Notifications)
            {
                var url = "https://localhost:5001";
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        @if (Convert.ToString(Model.TeacherImage) == "")
                        {
                            <div>
                                <img style="width: 2rem; height: 2rem; object-fit: cover;"
                            class="img-profile rounded-circle me-1" src="/img/undraw_profile.svg">
                                <span class="mr-2 d-lg-inline text-primary">@Model.Teacher</span>
                                <span class="mr-2 d-lg-inline text-gray-600 small">@Model.Teacher</span>
                            </div>
                        }
                        else
                        {
                            <div>
                                <img style="width: 2rem; height: 2rem; object-fit: cover;"
                            class="img-profile rounded-circle me-1"
                            src="@(Configuration["BaseAddress"] + Model.TeacherImage)" alt="@Model.TeacherImage">
                                <span class="mr-2 d-lg-inline text-primary">@Model.Teacher</span>
                                <span class="mr-2 d-lg-inline text-gray-600 small">Cập nhật lúc: @item.DateTimeCreated</span>
                            </div>
                        }

                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                <div class="card-body">
                        <h6 class="m-0 font-weight-bold text-primary">@item.Title</h6>


                        <div class="card-group mt-2">
                            @foreach (var image in item.NotificationImages)
                            {
                                <div class="card" style="margin: 0.25rem; border: none;">
                                    @{
                                        <a target="_blank" href="@url@image.ImagePath">
                                            <img class="img-thumbnail" src="@url@image.ImagePath" alt="@url@image.ImagePath" />
                                        </a>
                                    }
                                </div>
                            }
                        </div>

                        <div class="mt-2">
                            @Html.Raw(item.Content)
                        </div>

                        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                        @foreach (var a in item.Comments)
                        {
                            <div class="d-flex mb-3">

                                @if (Convert.ToString(a.Avatar) == "")
                                {
                                    <div>
                                        <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle me-3" src="/img/undraw_profile.svg">
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle me-3" src="@(Configuration["BaseAddress"] + a.Avatar)"
                                alt="@(a.Avatar)">
                                    </div>
                                }
                                <div style="border: none" class="card card-header bg-gray-100 shadow-sm">
                                    <h6 class="m-0 font-weight-bold text-success mb-1">@a.FullName</h6>
                                    @Html.Raw(a.Content)

                                    <div class="card-group d-inline-flex">
                                        @foreach (var image in a.CommentImages)
                                        {
                                            <div class="card" style="margin: 0.25rem; border: none; max-width: 33%;">
                                                @{
                                                    <a target="_blank" href="@url@image.ImagePath">
                                                        <img class="img-thumbnail" src="@url@image.ImagePath"
                                                alt="@url@image.ImagePath" />
                                                    </a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                    <form style="margin: 1rem; margin-top: 0;">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Nhập bình luận..."
                            aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Mọi người</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h6 class="m0 text-primary">Giáo viên</h6>
                    @if (Convert.ToString(Model.TeacherImage) == "")
                    {
                        <div class="mb-3">
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                            src="/img/undraw_profile.svg">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.Teacher</span>
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                            src="@(Configuration["BaseAddress"] + Model.TeacherImage)" alt="@Model.TeacherImage">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.Teacher</span>
                        </div>
                    }
                    <hr style="height:1px;border:none;color:#333;background-color:#333;" />

                    <h6 class="m0 text-primary">Học sinh</h6>
                    @foreach (var item in Model.ClassDetails)
                    {
                        var url = "https://localhost:5001";
                        @if (Convert.ToString(item.Avatar) == "" && item.IsTeacher ==
                       DaisyStudy.Data.Entities.Teacher.Student)
                        {
                            <div class="mb-3">
                                <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                            src="/img/undraw_profile.svg">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@item.FirstName @item.LastName</span>
                            </div>
                        }
                        else if (Convert.ToString(item.Avatar) != "" && item.IsTeacher ==
                        DaisyStudy.Data.Entities.Teacher.Student)
                        {
                            <div class="mb-3">
                                <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                            src="@url@item.Avatar" src="@url@item.Avatar">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@item.FirstName @item.LastName</span>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Trò chuyện</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    @foreach (var item in Model.Chats)
                    {
                        var url = "https://localhost:5001";
                        <div class="d-flex mb-3">

                            @if (Convert.ToString(item.Avatar) == "")
                            {
                                <div>
                                    <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle me-3" src="/img/undraw_profile.svg">
                                </div>
                            }
                            else
                            {
                                <div>
                                    <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle me-3"
                                src="@(Configuration["BaseAddress"] + item.Avatar)" alt="@(item.Avatar)">
                                </div>
                            }
                            <div style="border: none; padding-bottom: 2rem;" class="card card-header bg-gray-100 shadow-sm position-relative">
                                <h6 class="m-0 font-weight-bold text-success mb-1">@item.FullName</h6>
                                @Html.Raw(item.Content)

                                <div class="card-group d-inline-flex">
                                    @foreach (var image in item.ChatImages)
                                    {
                                        <div class="card" style="margin: 0.25rem; border: none; max-width: 33%;">
                                            @{
                                                <a target="_blank" href="@url@image.ImagePath">
                                                    <img class="img-thumbnail" src="@url@image.ImagePath"
                                                alt="@url@image.ImagePath" />
                                                </a>
                                            }
                                        </div>
                                    }
                                </div>
                                 <div class="position-absolute bottom-0 start-0 mx-3">
                                <i class="fa-solid fa-heart me-1"></i>@item.Likes
                                <i class="fa-regular fa-thumbs-down mx-1"></i>@item.Dislikes
                            </div>
                            </div>
                        </div>
                    }
                    <form style="margin: 1rem; margin-top: 0;">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Nhập tin nhắn..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa-regular fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>