@using DaisyStudy.ViewModels.Common;
@model PagedResult<DaisyStudy.ViewModels.Catalog.Classes.ClassViewModel>

@{
    ViewData["Title"] = "Danh sách lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách lớp học</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/Class">Lớp học</a></li>
        <li class="breadcrumb-item active">Danh sách lớp học</li>
    </ol>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách lớp học</h6>
        </div>
        <div class="card-header">
            <div style="padding: 0;" class="col-md-6 col-xs-12">
                <a class="btn btn-success" asp-action="Create" asp-controller="Class">Tạo mới</a>
            </div>
        </div>

        <div class="card-body" style="padding-top: 0;">
            <div class="table-responsive">
                <form asp-action="Index" method="get">
                    <div class="col-sm-12 col-md-6 my-3">
                        <div class="row">
                            @if (ViewBag.SuccessMsg != null)
                            {
                                <div id="msgAlert" class="alert alert-success" role="alert">
                                    @ViewBag.SuccessMsg
                                </div>
                            }
                        </div>
                        <div class="dataTables_filter">
                            <div class="input-group">
                                <input value="@ViewBag.Keyword" name="keyword" type="search"
                                    class="form-control bg-light border-0 small" placeholder="Tìm kiếm..."
                                    aria-controls="dataTable">
                                <div class="input-group-append">
                                    <a href="/Class" class="btn btn-secondary" type="submit">
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </a>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Mã lớp học
                            </th>
                            <th>
                                Tên lớp học
                            </th>
                            <th>
                                Chủ đề
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Công khai
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClassID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClassName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Topic)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreated)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isPublic)
                                    </td>
                                    <td>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Details", "Class", new { id = item.ID })">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Edit", "Class", new { id = item.ID })">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Delete", "Class", new { id = item.ID })">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>